<%= render 'searches/lookup' %>

<div class="container">
  <table class="table table-striped" id="user-searches">
    <thead>
      <th>Ticker Symbol</th>
      <th>Last Searched</th>
    </thead>
    <tbody>
    <% @user_searches.each do |search| %>
      <tr>
        <td><a href="../etfs/<%=search.etf_id%>"><%=search.ticker%></a></td>
        <td><%=search.created_at.strftime("Last searched %m/%d/%y") %>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>
