.navbar-default{
  background: #3b5998;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  display: flex;
  justify-content: center;
  background-image: asset-url('finance_jumbotron_background.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1{
  color: white;
  margin: 0 auto;
  letter-spacing: -1px;
}

.jumbotron p {
  color: white;
  font-size: 1.7em;
}

.home-content{
  align-self: center;
}

.btn-xlarge{
  border: none;
  font-size: 1.5em;
  background-color: #337ab7;
}
