<div class="containter">
  <div class="navbar navbar-fixed-bottom">
    <footer class="footer">
      <small>
        Built by Joshua Pann | <a href="mailto:josh.pann@gmail.com" target="_top"> Contact </a> | <a href="https://github.com/jmpann"> GitHub</a> | <a href="https://medium.com/@josh.pann"> Medium</a> | <a href="http://www.linkedin.com/in/joshua-pann"> LinkendIn</a>
      </small>
    </footer>
  </div>
</div>
